# Machine Learning Classification models and Evaluation metrics

## Importing Libraries

In [1]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

from xgboost import XGBClassifier

from sklearn.metrics import (
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    roc_auc_score,
    matthews_corrcoef,
    confusion_matrix,
    classification_report
)

import joblib
import os

## Exploratory Data Analysis

In [3]:
dataset = pd.read_csv("https://drive.google.com/uc?export=download&id=19a8CJYGaxwRly083AXsUE7-PRCogiTP-")

In [4]:
dataset.head(10)

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
0,1,20,Female,1st Year,2.5,1,170,NaN,Exam Prep,10,...,4,9.0,8.1,7.2,1.5,4.6,6,36.8,0,Low
1,2,17,Male,12th,3.4,1,123,NaN,Notes,4,...,8,8.5,13.8,7.6,5.1,2.7,6,65.5,1,Medium
2,3,24,Male,3rd Year,0.8,0,35,Copilot,Doubt Solving,8,...,7,2.1,39.1,5.7,0.2,4.0,3,66.3,1,Medium
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low
5,6,20,Male,1st Year,5.1,1,34,Copilot,Coding,10,...,9,8.0,13.4,5.5,3.7,2.1,4,77.9,1,High
6,7,23,Female,1st Year,2.0,1,112,ChatGPT+Gemini,NaN,8,...,9,9.6,3.7,5.8,1.6,3.4,5,82.2,1,High
7,8,16,Male,3rd Year,5.5,0,174,ChatGPT,Homework,4,...,6,4.3,13.2,6.0,0.4,2.5,6,52.7,1,Medium
8,9,20,Female,10th,6.0,1,32,Copilot,NaN,9,...,9,7.8,18.8,5.4,1.6,4.2,4,81.7,1,High
9,10,24,Female,1st Year,5.6,0,140,NaN,Doubt Solving,3,...,7,2.9,38.5,7.2,0.7,4.6,1,66.7,1,Medium

In [5]:
print("Dataset Shape: ", dataset.shape)

Dataset Shape:  (8000, 26)

In [6]:
# Checking missing values and dataset statistics

print(f"\n\n Missing data found in dataset = ", dataset.isnull().sum(), "\n\n")

 Missing data found in dataset =  student_id                            0
age                                   0
gender                                0
grade_level                           0
study_hours_per_day                   0
uses_ai                               0
ai_usage_time_minutes                 0
ai_tools_used                      1362
ai_usage_purpose                   1346
ai_dependency_score                   0
ai_generated_content_percentage       0
ai_prompts_per_week                   0
ai_ethics_score                       0
last_exam_score                       0
assignment_scores_avg                 0
attendance_percentage                 0
concept_understanding_score           0
study_consistency_index               0
improvement_rate                      0
sleep_hours                           0
social_media_hours                    0
tutoring_hours                        0
class_participation_score             0
final_score                           0
passed                                0
performance_category                  0
dtype: int64

In [7]:
dataset.describe()

,student_id,age,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_dependency_score,ai_generated_content_percentage,ai_prompts_per_week,ai_ethics_score,last_exam_score,...,attendance_percentage,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed
count,8000.00000,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,4000.50000,18.96725,3.286938,0.641000,88.989875,5.515125,50.057500,59.359500,5.472375,59.501250,...,69.852112,5.484750,5.516450,10.127325,6.465025,3.010600,2.523387,5.463375,56.811988,0.889250
std,2309.54541,3.15316,1.582171,0.479737,52.184077,2.883064,29.440109,34.869496,2.872067,23.161888,...,17.234339,2.898546,2.586377,17.479288,1.435670,1.744974,1.436991,2.881917,13.455724,0.313842
min,1.00000,14.00000,0.500000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,20.000000,...,40.000000,1.000000,1.000000,-20.000000,4.000000,0.000000,0.000000,1.000000,12.700000,0.000000
25%,2000.75000,16.00000,1.900000,0.000000,43.000000,3.000000,25.000000,29.000000,3.000000,39.750000,...,54.800000,3.000000,3.200000,-5.000000,5.200000,1.500000,1.300000,3.000000,47.300000,1.000000
50%,4000.50000,19.00000,3.300000,1.000000,89.000000,6.000000,50.000000,59.000000,6.000000,59.000000,...,70.000000,5.000000,5.500000,10.150000,6.400000,3.000000,2.500000,5.000000,56.900000,1.000000
75%,6000.25000,22.00000,4.600000,1.000000,134.000000,8.000000,76.000000,90.000000,8.000000,80.000000,...,84.600000,8.000000,7.800000,25.500000,7.700000,4.500000,3.800000,8.000000,66.200000,1.000000
max,8000.00000,24.00000,6.000000,1.000000,179.000000,10.000000,100.000000,119.000000,10.000000,99.000000,...,100.000000,10.000000,10.000000,40.000000,9.000000,6.000000,5.000000,10.000000,95.800000,1.000000

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   student_id                       8000 non-null   int64
 1   age                              8000 non-null   int64
 2   gender                           8000 non-null   object
 3   grade_level                      8000 non-null   object
 4   study_hours_per_day              8000 non-null   float64
 5   uses_ai                          8000 non-null   int64
 6   ai_usage_time_minutes            8000 non-null   int64
 7   ai_tools_used                    6638 non-null   object
 8   ai_usage_purpose                 6654 non-null   object
 9   ai_dependency_score              8000 non-null   int64
 10  ai_generated_content_percentage  8000 non-null   int64
 11  ai_prompts_per_week              8000 non-null   int64
 12  ai_ethics_score                  8000 non-null   int64
 13  last_exam_score                  8000 non-null   int64
 14  assignment_scores_avg            8000 non-null   float64
 15  attendance_percentage            8000 non-null   float64
 16  concept_understanding_score      8000 non-null   int64
 17  study_consistency_index          8000 non-null   float64
 18  improvement_rate                 8000 non-null   float64
 19  sleep_hours                      8000 non-null   float64
 20  social_media_hours               8000 non-null   float64
 21  tutoring_hours                   8000 non-null   float64
 22  class_participation_score        8000 non-null   int64
 23  final_score                      8000 non-null   float64
 24  passed                           8000 non-null   int64
 25  performance_category             8000 non-null   object
dtypes: float64(9), int64(12), object(5)
memory usage: 1.6+ MB

In [9]:
for col in dataset.columns[1:]:
    print(f"Unique values in column '{col}':")
    print(dataset[col].unique())
    print("\n")

Unique values in column 'age':
[20 17 24 21 18 23 16 19 15 14 22]


Unique values in column 'gender':
['Female' 'Male' 'Other']


Unique values in column 'grade_level':
['1st Year' '12th' '3rd Year' '10th' '11th' '2nd Year']


Unique values in column 'study_hours_per_day':
[2.5 3.4 0.8 4.4 3.5 5.1 2.  5.5 6.  5.6 4.8 5.  3.7 1.5 4.2 5.9 4.3 2.3
 1.4 0.6 2.4 5.3 0.7 2.9 4.7 5.7 2.8 4.6 4.  1.9 3.3 1.2 3.9 1.6 5.8 2.1
 3.2 4.5 3.6 1.3 5.2 0.9 4.9 2.7 3.  5.4 4.1 1.8 3.8 2.2 1.7 2.6 0.5 3.1
 1.  1.1]


Unique values in column 'uses_ai':
[1 0]


Unique values in column 'ai_usage_time_minutes':
[170 123  35  45  21  34 112 174  32 140  55  66  12  49  27 103  97  95
  86  87 151 124  80   6  73  82  23 136 113  14 121  85 144  18   8  63
  37 135 133 176 101 172 148  92  33 139  38   5  31 165 146 179 155  61
 175 166  25   0 162  76 102  75  81  68 158 105 142 119  47  67  84 125
 167 120 128  19 149  64  60  78  13  48 168 115  89  88 178 116  53   3
 104  65 137  50  29 171 159  62  11   1  72  24 117 107  98  54  39 111
  22  57   7  16 150  70  58  36 161  99  15  71  43 145  79 160  77 138
 130  26 154 114  91  90 141  83 110 129  46  30  96  28  41  51 152   9
 126 108 106 164 118  42  40 131  20  93 157   2 177 163 134  44 173  17
 109 156 169 122  10   4  74  56 132  59  69 153  52 100  94 127 147 143]


Unique values in column 'ai_tools_used':
[nan 'Copilot' 'ChatGPT+Gemini' 'ChatGPT' 'Gemini' 'Claude']


Unique values in column 'ai_usage_purpose':
['Exam Prep' 'Notes' 'Doubt Solving' 'Coding' nan 'Homework']


Unique values in column 'ai_dependency_score':
[10  4  8  3  2  9  6  5  7  1]


Unique values in column 'ai_generated_content_percentage':
[ 29  14  82  74  83  24  37  42  39  58  22  43  80   0  77  81  40  61
  59  79   9  72  65  56  41  53  84  69  10  66   3  78  89  99  48  21
  36  19  95  49  30  91  13  45  92  88  86  32   8   6  87  54  34   1
   4  20  70  26  16  25  71  44  15  31  63  23  57  68  12  51  28  17
  93   2  85  96 100   7  73  98  11  75  18  60  33  46  52  38  55  64
  90  27   5  62  47  35  76  94  50  97  67]


Unique values in column 'ai_prompts_per_week':
[ 56  65   8 106   7  95  57  70  37  19  46  78 102  27  94  59  21 103
 112  50  23  97  72  60   1 108  88  75  54   3 114  12  92  26  29 109
  61  64  10  86  48  16  14 116   9  79 100  34  58  74  32  83  51  18
  38 113  71  55   6  89  39  69  96 118  99  11  91  22  49  63  17  43
  90  52  53  41  13 101  42 119  35  30  76  93  67 107  40  85  28   0
  84   5  20  36 105  33  44  25   2  47  31  45  80  87  98  24  73 110
 104  81 117 111   4  62  77  82  66  15 115  68]


Unique values in column 'ai_ethics_score':
[ 5  1 10  6  9  7  8  3  4  2]


Unique values in column 'last_exam_score':
[29 60 98 67 40 43 93 42 99 88 52 55 44 77 85 50 63 82 64 69 86 90 20 28
 54 32 45 70 75 58 22 94 72 81 23 91 78 36 41 57 68 71 46 33 80 31 53 38
 84 24 76 62 21 92 26 59 83 35 25 51 49 97 48 73 66 47 30 95 87 61 34 96
 37 56 74 79 89 39 27 65]


Unique values in column 'assignment_scores_avg':
[ 40.9  87.2  77.1  86.4  69.4  98.9  71.5  57.7  97.7  35.2  66.   74.2
  54.2  36.4  58.7  86.7  70.   83.1  80.2  50.1  47.7  85.4  41.9  69.6
  96.9  66.8  86.5  47.9  34.1  54.4  70.2  74.8  67.5  60.3  99.   78.2
  96.8  42.4 100.   79.2  98.   72.4  40.8  33.7  40.6  99.9  94.1  93.1
  30.1  61.5  84.7  45.9  59.4  44.3  78.5  79.3  49.8  63.4  61.6  84.5
  77.3  34.8  88.8  97.6  74.5  55.5  45.5  82.   74.7  93.6  93.2  51.5
  86.2  47.8  41.8  54.3  36.   50.7  52.3  76.8  80.1  71.2  83.9  74.
  55.1  66.5  39.9  72.8  62.3  76.6  59.9  45.6  89.7  65.   69.   57.4
  70.8  64.7  82.3  46.8  64.   52.1  36.6  57.1  96.7  62.2  68.2  58.8
  66.2  97.8  60.   85.3  61.1  95.5  79.8  90.4  38.1  63.9  59.   73.2
  77.4  38.2  59.8  85.   32.9  84.8  78.8  93.   62.6  36.7  53.2  52.6
  74.3  33.1  34.9  30.7  98.3  48.3  85.7  92.1  41.   43.9  56.8  65.3
  67.4  57.   71.   81.5  79.   32.1  79.9  44.   72.3  37.8  76.5  73.4
  46.9  91.3  81.7  45.   64.1  56.5  44.1  73.   98.7  63.3  56.1  46.
  96.4  87.8  31.9  72.5  68.4  84.2  84.6  60.7  36.8  49.2  97.5  33.3
  82.7  89.5  62.   39.1  51.1  49.5  41.6  64.9  59.6  53.   93.5  30.2
  69.9  38.   94.6  98.8  95.6  74.6  62.1  77.7  96.   64.5  32.   49.7
  54.9  51.4  99.3  81.6  88.   67.6  43.2  51.6  87.   60.1  49.6  42.5
  81.9  86.3  63.8  97.9  31.7  79.6  71.6  40.5  91.6  36.2  45.2  96.2
  77.2  77.5  52.2  91.7  85.8  32.7  31.6  41.5  94.2  79.1  98.6  58.
  83.2  68.5  66.6  50.6  48.6  34.6  89.1  80.7  94.9  44.6  60.5  48.8
  92.9  99.7  46.6  58.3  51.3  87.5  72.   35.5  62.4  30.5  77.   42.3
  91.5  74.1  95.   95.7  65.9  43.7  61.7  87.1  35.1  93.3  48.4  37.3
  99.8  50.9  86.8  91.4  96.5  90.   41.7  72.2  39.2  54.5  61.2  58.1
  90.6  35.8  66.9  33.2  46.1  95.9  50.4  64.6  56.7  48.9  69.5  85.6
  92.6  71.4  67.   44.2  31.2  32.3  73.3  73.8  59.3  86.9  50.2  52.9
  75.5  56.2  88.5  80.8  44.4  38.8  43.4  57.6  54.1  90.9  76.   49.3
  88.9  63.5  95.3  69.2  92.7  96.3  92.5  47.2  58.2  89.8  51.8  34.
  76.1  64.8  83.8  63.7  73.6  80.6  52.   47.3  38.9  90.5  46.3  97.
  85.2  37.7  50.5  40.1  31.3  86.6  42.7  33.8  88.7  39.4  56.6  46.4
  91.9  39.6  77.9  87.3  42.6  41.1  47.   54.7  82.2  70.5  99.4  67.3
  98.2  75.   66.1  79.4  37.9  65.5  52.5  57.3  49.1  87.4  31.1  61.8
  78.1  94.   75.6  78.9  60.6  68.7  58.6  42.   34.4  73.7  40.2  83.7
  38.6  63.6  91.2  84.   71.1  60.2  33.5  37.4  34.7  35.4  92.8  45.3
  72.9  48.5  53.7  54.8  84.4  95.8  88.1  36.3  47.5  98.5  32.8  90.1
  55.   33.6  80.9  89.3  61.4  55.8  89.9  60.9  90.2  99.2  73.5  37.5
  54.   48.2  77.8  69.3  42.8  44.9  97.1  69.7  87.7  76.9  53.5  36.9
  49.9  86.1  33.4  84.3  81.   59.1  38.5  59.7  58.9  31.4  33.   89.
  81.2  78.6  43.8  68.3  75.2  96.1  97.4  81.8  75.9  43.3  45.1  87.9
  70.3  34.5  43.1  95.1  39.8  90.3  55.9  93.8  42.9  99.6  56.9  40.
  65.1  70.9  48.1  67.9  55.7  50.3  31.5  92.2  92.3  73.1  68.6  58.5
  65.7  31.   89.4  44.7  43.   65.4  95.2  82.9  75.7  36.1  30.9  66.7
  81.3  79.7  75.1  41.4  39.7  89.6  92.4  42.1  99.5  50.   38.7  88.4
  76.3  69.1  32.2  46.5  70.7  39.5  47.4  59.2  83.   94.4  35.9  75.4
  53.1  62.9  63.   99.1  53.6  97.2  55.2  66.3  75.3  61.9  80.4  70.1
  34.3  51.2  64.4  43.5  46.7  45.7  55.6  85.5  34.2  94.3  45.4  44.8
  53.9  56.3  30.   48.7  93.4  68.8  91.   30.3  88.6  32.5  91.8  50.8
  96.6  79.5  65.8  52.7  38.3  56.   94.5  30.6  30.4  57.5  62.8  76.7
  53.3  35.3  33.9  37.6  62.5  67.2  90.7  65.2  43.6  32.6  74.4  32.4
  69.8  30.8  80.5  42.2  92.   63.1  35.7  76.4  52.8  38.4  93.7  97.3
  80.3  57.8  72.6  49.4  82.8  53.8  85.1  91.1  60.8  39.3  83.6  64.3
  37.   98.4  62.7  70.6  90.8  40.7  51.9  61.3  55.4  83.4  54.6  71.8
  67.7  51.7  37.2  35.   84.1  94.8  82.6  31.8  64.2  68.9  81.4  45.8
  78.3  49.   65.6  82.5  55.3  44.5  71.3  78.4  76.2  67.8  60.4  72.7
  61.   82.4  48.   40.3  66.4  95.4  84.9  68.1  47.1  83.3  59.5  41.2
  87.6  37.1  77.6  94.7  46.2  80.   86.   67.1  85.9  72.1  98.1  41.3
  88.3  57.9  47.6  68.   74.9  75.8  39.   58.4  51.   70.4  88.2  73.9
  56.4  57.2  40.4  36.5  93.9  83.5  81.1  89.2  53.4  78.7  78.   71.9
  71.7  35.6  52.4  63.2  82.1]


Unique values in column 'attendance_percentage':
[ 98.8  89.3  50.8  52.1  40.7  88.1  50.2  97.1  67.1  42.7  78.6  46.6
  79.4  80.9  43.   92.7  63.2  59.3  96.1  98.2  89.9  86.2  72.7  72.4
  76.6  99.   42.   68.3  52.7  76.4  75.   60.9  86.7  83.5  66.4  71.6
  67.7  46.7  75.5  63.   45.7  54.6  76.8  84.9  70.7  70.5  78.7  48.9
  50.7  97.6  97.8  86.6  87.4  45.6  62.2  67.3  48.6  41.5  53.3  98.
  95.6  54.   96.4  60.4  85.4  62.7  42.9  97.9  56.3  43.2  99.6  78.4
  66.7  89.5  83.2  65.6  79.8  93.3  71.   73.5  90.7  96.7  72.5  49.1
  97.   90.   78.1  68.1  64.7  42.6  92.1  62.4  71.1  72.3  90.3  51.8
  68.5  97.4  82.6  63.9  77.9  75.3  72.1  83.1  92.9  98.5  64.2  80.6
  56.2  63.3  62.9  44.2  76.   42.8  51.4  54.7  51.2  46.2  51.   87.
  95.3  93.4  64.   94.1  85.1  74.9  73.4  67.8  43.4  52.9  68.2  57.3
  98.3  85.9  48.4  88.5  66.5  91.3  85.6  96.2  74.1  67.2  53.4  70.9
  93.5  67.6  99.8  48.2  91.4  61.8  87.7  69.9  71.4  72.   54.5  79.2
  83.6  59.4  63.8  85.2  79.   74.4  65.   77.5  61.6  55.9  45.4  75.4
  88.3  53.2  40.1  73.8  98.4  61.1  93.6  46.5  60.8  74.7  90.1  51.1
  55.7  68.7  40.3  59.8  55.6  70.3  47.   81.1  57.6  53.8  58.3  81.2
  50.6  80.4  49.2  59.1  78.2  81.   97.7  94.3  70.4  84.6  66.3  44.7
  52.3  55.5  56.9  56.5  76.3  44.   58.   79.5  73.7  69.   43.8  40.2
  57.8  63.1  69.4  75.9  62.6  69.6  57.4  81.9  91.6  48.   46.3  76.7
  52.6  94.4  48.3  49.6  41.7  96.6  42.2  74.6  88.8  52.5  49.9  51.7
  72.8  54.4  44.6  91.9  66.   89.8  43.1  89.1  81.8  90.6  50.3  64.9
  94.8  88.7  68.8  92.4  68.9  47.7  83.   63.4  76.1  68.4  73.2  99.5
  93.1  59.7  57.9  96.5  51.5  55.3  41.2  77.3  58.7  53.7  43.5  90.8
  78.8  94.5  41.3  48.1  55.1  48.7  53.6  55.8  69.5  78.5  93.   49.5
  46.8  54.1  74.2  96.8  76.5  92.6  80.3  85.   69.2  79.6  41.9  80.1
  95.9  95.7  53.9  96.3  60.1  62.   88.9  51.3  66.8  88.   73.   82.8
  86.8  43.9  75.6  83.4  46.1  69.1  61.9  42.1  87.5  71.5  45.5  58.6
  77.2  62.5  64.6  64.3  79.3  77.6  45.   80.5  88.2  98.1  52.4  59.9
  45.8  82.7  56.1  49.   47.6  64.5  92.3  44.4  82.9  83.8  59.2  41.6
  79.1  82.1  84.3  72.2  44.3  82.2  85.8  48.5  87.1  87.6  87.8  47.4
  88.6  48.8  99.1  75.2  86.9  58.5  62.3  91.5  89.7  44.8  66.9  53.1
  62.8  95.1  75.1  65.3  74.   63.7  57.5  87.3  84.2  94.6  92.   45.9
  93.7  84.8  47.8  81.3  41.1  42.4  80.8  57.2  79.9  70.2  76.9  71.3
  82.   50.5  92.2  65.5  95.   91.   57.7  56.4  99.4  76.2  61.   49.7
  71.9  91.1  95.2  84.   49.8  65.8  43.7  49.3  60.3  73.3  44.5  96.
  40.6  54.3  84.5  95.4  88.4  58.9  45.3  95.8  60.6  81.5  58.4  44.9
  84.7  55.   67.   49.4  53.5  80.2  42.3  53.   90.4  56.6  69.7  51.6
  70.   54.9  41.4  61.5  72.9  83.3  63.6  83.9  87.2  77.4  73.6  40.8
  55.4  92.5  56.8  91.2  58.1  97.3  92.8  89.4  40.9  61.3  47.9  63.5
  56.7  65.1  67.5  47.2  86.5  70.6  65.9  78.3  67.9  82.4  50.1  78.9
  41.8  87.9  98.9  82.3  77.8  65.4  54.8  52.8  61.4  64.8  51.9  50.9
  65.2  77.7  89.6  84.4  61.2  60.5  45.2  86.   62.1  68.   94.2  46.9
  47.3  57.   89.   82.5  94.   58.8  85.3  98.7  86.4  86.1  57.1  66.2
  74.8  60.7  44.1  47.5  97.2  68.6  85.5  99.3  99.7  54.2  64.4  98.6
  46.   86.3  79.7  80.   90.9  89.2  66.6  74.5  55.2  59.6  77.1  91.8
  70.1  99.2  75.8  40.   93.8  45.1  95.5  80.7  72.6  56.   75.7  97.5
  50.   52.   94.9  78.   69.3  40.5  43.6  99.9  84.1  47.1  91.7  93.9
  66.1  52.2  71.8  73.9  43.3  64.1  41.   67.4  69.8  81.7  50.4  58.2
  60.2  59.   96.9  83.7  71.7  77.   70.8  61.7  93.2  60.   74.3  73.1
  85.7  90.2  59.5  46.4  71.2  90.5  81.4  40.4  42.5  65.7  81.6  94.7
 100. ]


Unique values in column 'concept_understanding_score':
[ 4  8  7  5  9  6  2  3  1 10]


Unique values in column 'study_consistency_index':
[ 9.   8.5  2.1  6.7  5.4  8.   9.6  4.3  7.8  2.9  4.8  7.5  1.8  8.8
  9.3  1.   8.2  9.1  9.9  1.3  6.1  8.9  7.6  8.7  7.3  1.2  6.6  3.2
  7.1  5.6  5.3  1.9  9.2  7.4  7.9  5.2  7.2  9.7  1.4  2.6  1.7 10.
  4.9  9.8  3.7  9.4  7.   5.8  6.4  6.   1.1  8.1  4.2  5.9  3.4  3.5
  6.9  3.1  2.3  3.3  4.4  5.   8.6  3.   2.8  4.6  5.5  6.8  6.5  9.5
  4.5  5.7  8.4  3.8  6.3  5.1  1.5  4.7  1.6  3.9  2.5  6.2  2.7  2.
  4.1  4.   7.7  8.3  2.2  3.6  2.4]


Unique values in column 'improvement_rate':
[  8.1  13.8  39.1  25.2   2.7  13.4   3.7  13.2  18.8  38.5  23.9  21.8
 -14.2  -0.8  -3.2 -14.   32.3  28.8  27.4  -9.4  16.   11.6  16.8  27.2
 -14.4  -8.5  -3.1   8.2  15.1  -1.7 -13.4  10.4 -16.4   1.8 -17.4  -6.9
   6.8  -5.9 -16.7  -2.1  33.6  30.5  33.    3.5  32.7  37.1  37.5 -12.5
  29.4   0.2   7.   19.3  25.5  34.   26.2  -5.6  10.5   0.7  31.9   9.7
  31.4  -2.7 -18.2  -7.1  18.4  28.5  24.9  28.2  35.5  -6.5 -17.   -0.3
  31.2  23.7 -18.  -10.7  35.8   9.8 -14.3  14.6  30.8  34.1  15.2  23.8
   3.9  -2.5 -14.7  -8.3  39.    0.8  29.8  25.9  38.1 -17.6  14.7  22.
  -3.4  22.2  28.6  11.   10.1   6.5  -7.5  30.  -11.9  34.9  30.7   5.4
  26.9 -10.   38.3 -14.9  32.9  39.9  -2.6  28.7  34.8  37.2  23.2  17.2
 -13.7 -18.7  -2.9  24.6 -18.4  30.2  27.8  17.3 -17.3  36.6  25.8  36.8
  36.9  -3.3  -6.1   4.7  36.1  23.4  34.7 -15.9 -18.5 -15.7  35.    4.5
   8.   -8.6 -10.6  17.1 -19.    5.7  39.7  26.4  -8.1 -17.8   5.1   7.6
 -15.2  32.1  19.    2.8  31.3  30.9  18.1 -13.5  -4.5  19.1   4.6 -12.
 -10.8  22.5  21.1  23.3  37.7  38.2   6.   26.6  24.2  -9.6  30.6 -17.7
  11.5  -5.1  36.  -15.   19.5  18.9 -12.8  -3.7  21.5  -5.   -0.2  16.2
  11.3 -11.1  18.7  -5.7  -3.5  14.1 -14.8   8.8   7.3  39.6 -18.1  32.6
  12.4 -11.4  21.   24.7  21.4  -6.3  -4.3  19.7  13.9  22.1  36.5 -17.1
  25.3  -0.9   8.7  35.1   1.9   3.3   5.3   7.1  23.5  28.4  12.6 -13.8
 -12.7  18.5  11.1   8.5  32.5  24.8  -6.6  27.5  -7.8  20.3  29.    4.
  -6.    6.9  33.3  22.3  21.9  -1.3  -8.2 -11.   36.2   3.2  36.3  15.3
  -7.3   2.4   2.5 -19.7  33.9  -4.7   3.1  -0.1   7.4  33.4  25.4  14.5
  21.3 -19.4  -9.1  34.5   3.8 -16.3  -7.4  27.1   7.2   0.4  26.8  12.2
 -16.9  -4.9  -4.6   0.6 -11.6 -19.2  38.6 -15.5   1.2  30.1 -19.8   5.2
  -7.2  -2.8   1.5 -18.9  -8.    8.4  -9.5  39.2  16.7   8.6  14.9   4.2
  11.7   9.3 -13.3  -1.4  17.4  30.4  12.8  -8.8   1.1  26.1  17.7  11.4
  28.1   4.4  -3.8 -19.1  23.1 -10.1 -16.1  -2.4  -4.4  28.   38.9  10.9
  28.3  33.5  17.    1.4  26.3  27.7 -18.8  31.   37.4  17.6  11.9   2.
  38.   12.3  38.7  24.3  29.2  24.  -15.3 -14.1  14.2  30.3 -12.2  38.8
  -5.5   2.2   5.6  13.   -9.9  24.5  21.6  24.4  32.4  21.2 -12.9   9.2
 -18.6  17.9   4.1  14.8  -1.2   0.   23.6  -9.8 -18.3  37.  -17.2  33.8
  10.8  20.7  -3.9   1.3   6.7  -9.2  -0.7 -19.3  20.8  36.7  -4.2 -12.1
   4.3  15.5  -6.2  35.4  -4.8  13.7   6.4 -15.4 -11.2   4.8  29.3  -3.6
   3.   13.3  10.7  16.6   7.5   2.6  39.3   9.6  14.4  19.8   5.8  19.6
  15.4  15.6  27.6 -13.1  19.4  31.6  14.3  18.2  10.2   7.7  11.2  15.
  32.   -7.6  -9.   20.5  32.2 -16.5 -10.4  38.4  34.6  21.7  -1.8  35.2
  27.   13.5  20.1 -16.8  16.5 -13.9  39.4 -14.6  -6.8   9.4 -12.4  27.9
  20.9  13.6  31.1  20.4 -10.2  15.8  25.   35.9   7.8  29.6 -19.6  18.6
   2.3  39.8  17.8  37.9  25.7  -1.5  31.7   1.6  26.5  -0.4  -1.  -20.
  -4.1   2.9  -8.9  -9.7 -15.8   8.9  23.   16.1  15.7  -7.   -5.2  16.9
  28.9  33.2  25.1  20.   35.6  27.3  -1.1  19.2   1.7  -8.4  20.2  -0.5
  22.7  12.5  -6.7   7.9  -6.4   9.   33.7  20.6   6.6   2.1 -17.5  33.1
  36.4   5.5 -11.8 -16.6   6.3   4.9  -5.3  29.7  -5.4 -13.   -0.6  18.
  31.5  22.6   0.3  35.3  31.8   9.5  37.3  18.3   5.   34.3 -16.   12.7
  12.1   0.5  16.4   6.1  10.3  13.1  17.5   0.1  32.8   9.1  29.5  12.9
 -17.9   8.3  22.4  25.6 -14.5  29.9  -3.   22.9 -12.3 -13.2   9.9 -11.3
  34.4 -16.2  10.6 -13.6 -10.3 -15.6  14.  -19.9   0.9  37.6  34.2 -10.5
  -1.6 -11.7  37.8  -2.2  29.1  -5.8  -8.7  11.8 -11.5   1.   -7.9  26.7
   3.4  39.5  24.1   3.6   5.9  -4.    6.2  -2.   35.7 -10.9  15.9  -7.7
  22.8  16.3  -1.9  -9.3  26.  -15.1  -2.3  19.9  10.   12.  -19.5  40.
 -12.6]


Unique values in column 'sleep_hours':
[7.2 7.6 5.7 8.2 8.7 5.5 5.8 6.  5.4 8.5 6.1 4.9 5.  7.7 6.4 7.8 6.6 4.7
 8.6 4.3 7.  6.2 7.5 5.9 4.4 4.1 5.2 7.1 6.7 5.6 8.4 8.9 6.9 4.8 7.9 8.3
 8.1 4.6 4.5 6.5 7.3 4.2 5.1 7.4 6.8 5.3 4.  8.8 8.  6.3 9. ]


Unique values in column 'social_media_hours':
[1.5 5.1 0.2 4.2 3.7 1.6 0.4 0.7 1.3 4.1 5.  2.6 2.5 2.8 1.4 5.9 4.  4.6
 2.7 0.3 3.4 2.3 4.8 1.  5.4 0.8 4.7 4.5 3.3 3.2 3.  0.9 3.1 1.7 2.1 2.
 1.1 5.8 3.9 0.1 3.8 2.9 1.9 3.6 5.5 5.2 1.8 5.6 0.6 0.5 2.2 5.3 0.  4.4
 5.7 4.3 2.4 6.  1.2 3.5 4.9]


Unique values in column 'tutoring_hours':
[4.6 2.7 4.  2.9 2.1 3.4 2.5 4.2 1.3 2.2 3.5 2.  0.1 0.9 3.8 0.4 0.5 4.7
 4.9 5.  1.9 3.3 4.1 1.  1.6 1.8 2.4 3.9 3.2 0.8 1.4 1.2 0.2 2.8 3.1 3.
 4.3 2.3 0.7 0.6 4.5 2.6 1.5 1.7 4.8 0.  0.3 1.1 3.6 4.4 3.7]


Unique values in column 'class_participation_score':
[ 6  3  2  4  5  1  8 10  7  9]


Unique values in column 'final_score':
[36.8 65.5 66.3 69.5 49.7 77.9 82.2 52.7 81.7 66.7 54.3 50.7 44.5 62.
 56.7 66.2 48.  90.6 64.9 61.2 57.  67.7 68.4 76.4 40.3 60.3 29.  36.4
 47.7 67.5 68.6 57.6 65.7 80.9 74.1 46.9 78.4 65.6 89.1 38.  59.8 32.2
 39.4 68.5 50.9 70.9 42.8 56.3 47.  62.7 41.3 55.1 64.1 48.5 52.5 51.2
 58.4 69.7 54.2 56.5 40.8 72.6 49.  54.  55.  54.5 73.5 43.3 41.7 72.4
 62.3 39.8 63.2 61.6 63.6 40.5 88.5 29.6 67.2 37.1 31.8 60.8 40.  56.6
 42.6 43.5 46.7 65.  46.1 46.4 51.5 79.9 37.3 63.3 66.4 57.1 42.9 56.2
 31.9 63.4 80.1 40.4 59.7 88.2 36.1 49.4 71.9 77.2 57.9 76.  73.3 54.7
 37.4 66.5 55.9 55.3 60.9 42.2 40.2 77.4 58.5 64.4 34.6 38.7 47.9 61.8
 24.1 52.4 58.  50.1 58.8 41.9 47.4 70.5 69.  66.1 59.6 81.4 42.3 30.2
 35.5 76.8 53.5 85.8 78.2 61.  90.9 56.4 65.3 59.1 69.9 61.7 71.5 59.2
 45.7 45.6 80.7 57.2 64.  67.  43.9 59.3 56.8 54.9 63.  48.1 45.2 51.7
 67.4 69.8 62.1 60.6 72.9 78.6 44.4 48.3 55.2 53.9 58.6 59.  69.4 49.5
 61.5 41.5 49.9 83.4 52.1 77.  76.1 71.8 75.5 52.3 63.1 61.9 33.2 58.3
 57.3 38.9 66.8 67.1 65.9 44.3 73.9 72.2 53.7 30.3 51.3 32.9 63.7 59.5
 29.3 55.7 34.  65.4 70.2 73.8 24.8 84.  24.6 64.8 50.4 31.6 69.6 38.2
 60.2 60.4 60.  82.5 43.  70.6 80.4 45.9 46.3 44.6 62.6 64.5 43.2 68.2
 52.8 77.7 51.1 42.7 33.7 65.2 62.9 46.6 27.9 59.4 55.5 90.7 74.8 75.8
 52.2 74.6 82.7 69.1 36.9 65.1 43.1 85.6 74.7 51.8 67.6 54.1 36.5 76.6
 52.6 61.4 79.1 34.8 39.1 39.  78.  30.8 56.  53.3 45.1 52.  53.8 35.9
 47.8 23.4 73.2 47.5 56.1 47.2 90.1 26.9 48.8 45.  33.1 74.9 55.6 61.3
 49.6 41.8 63.9 33.8 74.3 60.5 70.1 66.  75.7 73.1 67.3 76.9 48.6 38.8
 83.9 67.8 53.1 64.7 73.7 92.9 72.  92.1 77.3 57.8 42.1 53.6 66.9 70.7
 74.4 26.3 38.6 44.9 47.3 57.7 39.7 85.2 79.6 62.2 74.  32.  68.8 53.2
 62.4 72.7 92.  51.4 33.3 79.4 81.  41.  87.9 57.5 66.6 80.6 58.1 49.8
 82.9 41.1 47.6 60.7 40.6 31.7 54.4 48.2 75.  43.7 42.4 83.2 38.3 34.9
 37.7 44.  86.6 45.8 46.2 67.9 60.1 46.8 46.  64.3 21.9 77.5 51.  78.5
 51.9 64.6 58.7 46.5 37.6 70.  47.1 71.1 43.6 40.7 71.2 25.8 48.9 25.7
 85.9 68.1 50.6 58.9 50.2 12.7 33.  52.9 35.1 73.6 35.  28.6 50.  85.
 45.4 82.3 84.4 62.5 53.4 68.  30.7 77.8 59.9 70.4 44.8 72.1 55.8 51.6
 48.7 82.1 71.  62.8 82.4 26.6 56.9 49.1 44.2 48.4 23.3 32.5 49.2 39.5
 30.4 43.8 50.5 27.  32.6 32.7 89.6 64.2 84.1 54.6 38.4 63.8 50.8 34.5
 86.5 81.5 86.1 36.  54.8 39.6 82.  30.  50.3 79.7 69.2 81.1 79.2 22.7
 31.1 58.2 68.3 29.7 40.9 93.  37.9 79.3 37.  26.4 65.8 80.3 41.4 38.1
 29.9 34.3 80.2 44.1 35.6 57.4 49.3 79.8 74.5 71.6 76.7 28.5 84.7 71.7
 43.4 34.1 37.5 78.8 81.3 25.  86.2 36.3 53.  63.5 75.3 55.4 35.4 76.2
 76.5 78.7 36.2 45.3 68.9 80.  34.7 71.4 21.3 72.8 31.3 39.2 69.3 72.3
 31.  70.8 37.2 45.5 40.1 85.3 38.5 78.3 88.7 28.4 25.5 86.  84.3 36.6
 86.7 79.  78.9 30.6 41.2 22.2 29.1 61.1 78.1 77.6 33.4 73.4 76.3 81.8
 91.  74.2 77.1 30.5 80.5 83.1 85.7 30.1 94.3 73.  26.8 72.5 33.6 35.8
 34.4 89.7 23.7 42.  25.4 88.4 21.1 91.5 93.5 18.3 32.4 42.5 25.9 88.6
 35.7 32.8 37.8 82.8 33.5 34.2 35.2 36.7 44.7 27.6 31.4 75.1 80.8 22.3
 39.3 75.4 87.3 87.2 81.6 71.3 70.3 83.8 81.2 90.  26.2 83.  68.7 86.4
 89.3 23.8 89.5 88.  75.6 39.9 31.2 84.8 27.5 28.8 30.9 87.1 87.  28.2
 75.9 83.5 22.8 15.4 28.9 35.3 75.2 89.4 81.9 27.2 26.1 23.9 25.6 32.1
 41.6 83.3 88.9 82.6 84.5 86.3 94.4 25.1 22.6 29.2 32.3 83.7 24.3 23.6
 86.9 85.5 84.6 85.4 20.3 31.5 89.8 83.6 29.8 28.3 22.4 79.5 91.4 28.
 33.9 20.6 27.3 93.8 29.4 94.1 28.1 87.5 93.4 20.8 86.8 90.2 90.4 91.1
 16.3 84.9 92.5 26.7 24.  91.3 93.2 85.1 93.1 27.7 92.8 95.8 88.3 22.5
 27.4 94.8]


Unique values in column 'passed':
[0 1]


Unique values in column 'performance_category':
['Low' 'Medium' 'High']

The column ***uses_ai*** does not help in classifying the performance as whether this field is yes or no, the students always have a ***ai_usage_time_minutes*** present which is always greater than 0. This later field could be used to determine how much time each student spends on AI.

## Data Pre-Processing

Preprocessing data:
1.  Handle missing values
2.  Encode categorical variables
3.  Split into train/test sets
4.  Feature scaling

### Handling Missing Values

In [10]:
# Data pre-processing

# 1. Separate features (X) and target (y)
X, y = dataset.iloc[:, :-1].values, dataset.iloc[:, -1].values

# 2. Handle Missing Values
imputer_num = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer_cat = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

numerical_columns = [1, 4, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
categorical_columns = [2, 3, 7, 8]
missing_values_columns = [7, 8]

for col in missing_values_columns:
    imputer_cat.fit(X[:, col].reshape(-1, 1))
    X[:, col] = imputer_cat.transform(X[:, col].reshape(-1, 1)).flatten()

print("Matrix of features: ", X[:10, 7:9])

# 3. Encode categorical variables
categorical_binary_cols = [2]
categorical_non_binary_cols = [3, 7, 8]

print("Target before label encoding: ", y[:10])

oe = OrdinalEncoder()
y = oe.fit_transform(y.reshape(-1, 1)).flatten()

print("Target after label encoding: ", y[:10])

Matrix of features:  [['ChatGPT+Gemini' 'Exam Prep']
 ['ChatGPT+Gemini' 'Notes']
 ['Copilot' 'Doubt Solving']
 ['ChatGPT+Gemini' 'Notes']
 ['ChatGPT+Gemini' 'Coding']
 ['Copilot' 'Coding']
 ['ChatGPT+Gemini' 'Exam Prep']
 ['ChatGPT' 'Homework']
 ['Copilot' 'Exam Prep']
 ['ChatGPT+Gemini' 'Doubt Solving']]
Target before label encoding:  ['Low' 'Medium' 'Medium' 'Medium' 'Low' 'High' 'High' 'Medium' 'High'
 'Medium']
Target after label encoding:  [1. 2. 2. 2. 1. 0. 0. 2. 0. 2.]

## Visualizing Relationships between Dataset Features & Target

In [11]:
dataset_columns = dataset.columns

print(dataset_columns)

Index(['student_id', 'age', 'gender', 'grade_level', 'study_hours_per_day',
       'uses_ai', 'ai_usage_time_minutes', 'ai_tools_used', 'ai_usage_purpose',
       'ai_dependency_score', 'ai_generated_content_percentage',
       'ai_prompts_per_week', 'ai_ethics_score', 'last_exam_score',
       'assignment_scores_avg', 'attendance_percentage',
       'concept_understanding_score', 'study_consistency_index',
       'improvement_rate', 'sleep_hours', 'social_media_hours',
       'tutoring_hours', 'class_participation_score', 'final_score', 'passed',
       'performance_category'],
      dtype='object')

In [12]:

# ===============================
# ENCODING CATEGORICAL FEATURES
# ===============================

# Identifying column indices based on previous inspection
# categorical_columns = [2, 3, 7, 8] -> gender, grade_level, ai_tools_used, ai_usage_purpose

ct = ColumnTransformer(
    transformers=[
        ('encoder', OneHotEncoder(handle_unknown='ignore'), [2, 3, 7, 8])
    ],
    remainder='passthrough'
)

X_encoded = ct.fit_transform(X)

# Split the encoded data
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)

# ===============================
# SCALING
# ===============================

scaler = StandardScaler(with_mean=False) # with_mean=False because OneHot creates sparse-like data

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# ===============================
# CREATE MODEL DIRECTORY
# ===============================

os.makedirs("models", exist_ok=True)

# ===============================
# DEFINE MODELS
# ===============================

models = {
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "Decision Tree": DecisionTreeClassifier(),
    "KNN": KNeighborsClassifier(),
    "Naive Bayes": GaussianNB(),
    "Random Forest": RandomForestClassifier(),
    "XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='logloss')
}

# ===============================
# TRAIN AND EVALUATE
# ===============================

results = []

for name, model in models.items():
    print(f"\nTraining {name}...")

    # Use scaled data for all for consistency, or specific ones as before
    if name in ["Logistic Regression", "KNN", "Naive Bayes"]:
        # Naive Bayes (Gaussian) needs dense input; OneHot output can be sparse
        X_tr = X_train_scaled.toarray() if hasattr(X_train_scaled, "toarray") else X_train_scaled
        X_te = X_test_scaled.toarray() if hasattr(X_test_scaled, "toarray") else X_test_scaled
        model.fit(X_tr, y_train)
        y_pred = model.predict(X_te)
        y_prob = model.predict_proba(X_te)
    else:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        y_prob = model.predict_proba(X_test)

    # Metrics
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    mcc = matthews_corrcoef(y_test, y_pred)

    results.append([name, accuracy, precision, recall, f1, mcc])

    print(f"Accuracy: {accuracy:.4f}")

    # SAVE MODEL (THIS WAS MISSING)
    filename = name.replace(" ", "_").lower() + ".pkl"
    joblib.dump(model, f"models/{filename}")

# ===============================
# RESULTS TABLE
# ===============================

results_df = pd.DataFrame(
    results,
    columns=["Model", "Accuracy", "Precision", "Recall", "F1 Score", "MCC Score"]
)

print("\nFinal Comparison Table:")
display(results_df)

# Save results
results_df.to_csv("models/model_results.csv", index=False)
joblib.dump(scaler, "models/scaler.pkl")
joblib.dump(ct, "models/column_transformer.pkl")

Training Logistic Regression...
Accuracy: 0.9881

Training Decision Tree...
Accuracy: 1.0000

Training KNN...
Accuracy: 0.7000

Training Naive Bayes...
Accuracy: 0.7462

Training Random Forest...
Accuracy: 1.0000

Training XGBoost...

/usr/local/lib/python3.12/dist-packages/xgboost/training.py:199: UserWarning: [17:37:46] WARNING: /workspace/src/learner.cc:790:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

Accuracy: 1.0000

Final Comparison Table:

                 Model  Accuracy  Precision    Recall  F1 Score  MCC Score
0  Logistic Regression  0.988125   0.988219  0.988125  0.988040   0.978801
1        Decision Tree  1.000000   1.000000  1.000000  1.000000   1.000000
2                  KNN  0.700000   0.706238  0.700000  0.675577   0.432966
3          Naive Bayes  0.746250   0.816317  0.746250  0.708083   0.576329
4        Random Forest  1.000000   1.000000  1.000000  1.000000   1.000000
5              XGBoost  1.000000   1.000000  1.000000  1.000000   1.000000

['models/column_transformer.pkl']